/CourseDBElement.class
/CourseDBGUI.class
/CourseDBManagerInterface.class
/CourseDBManagerTest.class
/CourseDBManager_GFA_Test.class
/CourseDBStructure$Node.class
/CourseDBStructure.class
/CourseDBStructureInterface.class
/CourseDBStructureTest.class
/FXMainPane$ButtonHandler.class
/FXMainPane$RadioListener.class
/FXMainPane.class
/CourseDBStructure_Student_Test.class
/CourseDBManager.class
/CourseDBManager_STUDENT_Test.class
